extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('Полное имя')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th=
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName()
          td= user.email
          td= formatDate(user.createdAt)
          td= 
            a.nav-link(href=route('updateUser', { id: user.id }))= t('views.users.updateUser')
            a.nav-link(href=route('deleteUser', { id: user.id }))= t('views.users.delete')