extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('Полное имя')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th(scope="col-1")= t(' ')
    tbody
      each user in users
        tr
          td= user.id
          tda(href=route('updateUser'))= user.fullName
          td= user.email
          td= formatDate(user.createdAt)
          //-td.col-1
            a(href=route('updateUser', { id: user.id }))= t('views.users.updateUser')
            a(href=route('deleteUser', { id: user.id }))= t('views.users.delete')