extends ../layouts/application.pug

block content
  table.table.table-hover
    thead
      tr
        th(scope='col')= t('views.users.list.id')
        th(scope='col')= t('views.users.list.fullname')
        th(scope='col')= t('views.users.list.email')
        th(scope='col')= t('views.users.list.createdAt')
        th
    tbody
      each user in users
        tr
          td= user.id
          td= user.getFullName()
          td= user.email
          td= formatDate(user.createdAt)
          td
            a(href=`/users/${user.id}/edit`)= t('views.users.list.edit')
            +buttonTo(`/users/${user.id}`, 'delete')(value=t('views.users.list.delete') class="btn btn-link")