extends ../layouts/application.pug

block content
  a(href=route('newStatus'))= t('views.statuses.list.create')
  table.table.table-hover
    thead
      tr
        th(scope='col')= t('views.statuses.list.id')
        th(scope='col')= t('views.statuses.list.name')
        th(scope='col')= t('views.statuses.list.createdAt')
        th
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            a(href=`/statuses/${status.id}/edit`)= t('views.statuses.list.edit')
            +buttonTo(`/statuses/${status.id}`, 'delete')(value=t('views.statuses.list.delete') class="btn btn-link")