extends ../layouts/application.pug

block content
  a(href=route('newTask'))= t('views.tasks.list.create')
  include ./filter.pug
  table.table.table-hover
    thead
      tr
        th(scope='col')= t('views.tasks.list.id')
        th(scope='col')= t('views.tasks.list.name')
        th(scope='col')= t('views.tasks.list.status')
        th(scope='col')= t('views.tasks.list.creator')
        th(scope='col')= t('views.tasks.list.executor')
        th(scope='col')= t('views.tasks.list.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=`/tasks/${task.id}`)= task.name
          td= task.status
          td= task.creator
          td= task.executor
          td= formatDate(task.createdAt)
          td
            a(href=`/tasks/${task.id}/edit`)= t('views.tasks.list.edit')
            +buttonTo(`/tasks/${task.id}`, 'delete')(value=t('views.tasks.list.delete') class="btn btn-link")